.parent__vr{
    position: relative;
    width: 100%;
    height: 100%;
}

.vr{
    position: absolute;
    background: linear-gradient(#797ef9, #797ef9, #0d1117);
    width: 3px;  
    height: 70vh;
    top: -1px;
    left: 30px;
}